/* Variables */

:root {
  /*text index*/
  --text-black : #000000;
  --text-gray: #333333;
  --text-white: #FFFFFF;
  --text-brown: #766357;
  --text-white-clear:rgba(255, 255, 255, 0.3);
  --text-black-clear:rgba(0, 0, 0, 0.3);
  --text-clear:rgba(0, 0, 0, 0.01);

  --white-01: rgba(225, 225, 225, 0.1);

/*text catalog */
  --text-blue: #81B3D2;

/*styling colors*/
--gray-fone:#F2F2F2;
--gray-style: #888888;
--gray-style2: #EEEEEE;
--strong-gray-style: #EBEBEB;
--white-style: #FFFFFF;
--blue-style: #81B3D2;
--blue-style2: #669EC0;
--blue-style3: #5496BD;
--brown-style: #766357;
--brown-style2: #604E43;
--brown-style3: #503E33;
--copywriter-text: #231F20;
--gray-sorting: #CACACA;
--gray-style3: #A9A9A9;
--checkbox-style: #6A6A6A;
--gray-text: #666666;
--gray-borders: #E5E5E5;
--gray-web: #BDBBBC;
--toggle-shadow:rgba(171, 171, 171, 0.3);
--gray-toggle:#ababab;
--shadow-body:rgba(0, 1, 1, 0.2);
--shadow-black: rgba(0, 1, 1, 0.15);
--white-footer: rgba(255, 255, 255, 0.9);

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Body*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--text-black);
  text-transform: uppercase;
  background-color: var(--gray-fone);
}

.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  justify-content: center;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--shadow-body);
}

.page-catalog {
  min-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  justify-content: center;
  width: 1200px;
  margin-left: 0;
  padding: 0;

}

.content{
  text-align: center;
  background-color: var(--white-style);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid*/

.page {
  height: 100%;
}


 /* Visually*/

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
/*Navigation*/

.main-header {
  background-color: var(--white-style);
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  position: relative;
 }

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 72px;
  margin: 0px;
}

.main-site-navigation li {
  width: 228px;
}

.main-site-navigation li:nth-child(2) {
  margin-right: auto;
}

.main-site-navigation li:nth-child(3) {
  text-align: right;
}

.main-site-navigation li:nth-child(4) {
  text-align: right;
}

.main-site-navigation a {
  color: var(--text-black) ;
}

.main-site-navigation a:hover {
  color: var(--blue-style);
}

.main-site-navigation a:active {
  color: var(--text-black-clear);
}

.active a {
  color: var(--text-black-clear);
}

.welcome {
  width: 100%;
  height: 508px;
  background-image: url("../img/backgroundphoto.jpg");
  background-repeat: no-repeat;
  position: relative;
}

.welcome .welcome-to-sedona {
  position: absolute;
  top: 78px;
  left: 50%;
  width: 457px;
  height: 351px;
  transform: translateX(-50%);
}

.welcome::after {
  content: url("../img/mask.svg");
  position: absolute;
  width: 100%;
  height: 60px;
  top: 450px;
  left: -4px;
  background-repeat: no-repeat;
  }

 /*Main-Content*/

.headline {
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: var(--white-style);

}

.reasons-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-gray);
  order: 1;
  height: 72px;
  padding-top: 4px;
  padding-top: 16px;
  margin: 0;
  margin-bottom: 22px;
}

.reasons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item-lead {
  margin: 0;
  margin-top: 25px;
}

 .reasons-item-preview h3 {
  margin: 0;
}

.reasons-item-preview:nth-child(1) h3 {
margin: 47px 139px 26px 139px;}

.reasons-item-preview:nth-child(2) h3 {
margin: 50px 123px 26px 126px;
}

.reasons-item-lead1 {
  margin: 0;
}

.reasons-item-lead2 {
  margin: 23px 49px 0px 49px;
}

.reasons-lead {
  margin: 0;
 margin-top: 24px;
}

.reasons-title-desc {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 470px;
  height: 80px;
  margin-top: 42px;
  margin-bottom: 0;
}

.reasons-title, .reasons-title-desc  {
  align-self: center;
  justify-self: center;
}

.reasons-item-preview {
  color: var(--text-white);
  background-color: var(--blue-style);
  width: 100%;
}

.service-title1 {
  display: flex;
  flex-wrap: wrap;
}

.text1{
  width: 400px;
  height: 256px;
}

.foto-sedona  {
  width: 800px;
  height: 256px;
}

.service-title2 {
  display: flex;
  flex-wrap: wrap;
}

.text2 {
  width: 400px;
  height: 256px;
  align-self: center;
  order: 1;
}

.foto-bridge {
  width: 800px;
  height: 256px;

}

.service-item {
  width: 400px;
  height: 330px;
  padding-top: 130px;
  position: relative;
}

.service-list {
  list-style: none;
  background-color: var(--white-style);
  color: var(--text-black);
  display: grid;
  padding: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  min-height:  330px;
  align-items: center;
  justify-content: center;
}

.icon1 .service-lead,
.icon3 .service-lead {
  margin: 0;
  padding-left: 64px;
  padding-right: 61px;
}

.icon2 .service-lead {
  margin: 0;
  padding-left: 55px;
  padding-right: 53px;
}

.service-lead {
  color: var(--text-gray);
}

.reasons-item {
  background-color: var(--gray-style2);
  width: 400px;
  min-height: 256px;
}

.service-title {
  font-size: 21px;
  line-height: 21px;
}

.service-title h3 {
  margin: 0;
}


.icon1::before{
  position: absolute;
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 60px;
  left: 162px;
}

.icon2::before{
  position: absolute;
  content: "";
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 62px;
  left: 162px;
}

.icon3::before{
  position: absolute;
  content: "";
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-present.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 55px;
  left: 168px;
}

.reasons-item-lead-gray {
  color: var(--text-gray);
  margin: 0;
}

.title1 {
  margin: 48px 141px 25px 141px;
}

.item-lead {
  margin: 24px 95px 0px 96px;
}

.title2 {
  margin: 47px 151px 26px 152px;
}

.item-lead2 {
  margin: 23px 65px 0px 66px;
}

.title3 {
  margin: 47px 150px 26px 150px;
}

.item-lead3 {
  margin: 23px 76px 0px 76px;
}

/*Appointment*/

.appointment {
  background-color: var(--white-style);
  height: 291px;
  width: 100%;
  }

.appointment-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  padding: 57px 446px 33px 438px;
}

.apointment-info {
  line-height: 24px;
  color:  var(--text-gray);
  margin: 0;
}

.search-hotel {
  position: relative;
  padding: 43px;
}

/*Appointment-form*/

.appointment-form {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  position: absolute;
  width: 570px;
  min-height: 394px;
  left: 315px;
  background-color: var(--white-style);
  box-shadow: 0px 7px 15px var(--shadow-black);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  z-index: 1;
}

.appointment-form label {
  width: 112px;
  text-align: left;
  padding-top: 6px;
}

.appointment-form p {
  width: 458px;
  height: 41px;
  display: flex;
}

.appointment-form label:last-child {
  text-align: center;
  padding-left: 25px;
  width: 122px;
}

.date-in {
  margin-top: 53px;
  margin-bottom: 0px;
}

.date-of {
  margin-top: -28px;
}

.appointment-item-form input {
  background: var(--gray-fone);
  border: 2px solid var(--gray-fone);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  width: 309px;
  height: 38px;
  padding: 0;
  padding-left: 11px;
}

.appointment-item-form input:hover {
  background: var(--strong-gray-style);
  border: 2px solid var(--strong-gray-style);
  }

.appointment-item-form input:focus{
  background: var(--white-style);
  border: 2px solid var(--gray-borders);
  outline: none;
}

.appointment-item-figure input {
  background: var(--gray-fone);
  border: 2px solid var(--gray-fone);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  width: 36px;
  height: 38px;
  text-align: center;
}

.appointment-item-figure input:hover {
  background: var(--strong-gray-style);
  border: 2px solid var(--strong-gray-style);
}

.appointment-item-figure input:focus{
  background: var(--white-style);
  border: 2px solid var(--gray-borders);
  outline: none;
}

.appointment-item-form input::placeholder {
  color: var(--text-black);
  opacity: 1;
}

.appointment-item-figure input::placeholder {
  color: var(--text-black);
  opacity: 1;
}

.appointment-item-figure {
  margin: 0;
}
.appointment-item-figure label:last-of-type {
  text-align: center;
  width: 121px;
  padding-left: 28px;
}

/*Button*/

.button {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown-style);
  border: none;
  width: 566px;
  min-height: 86px;
}

.button-search {
  font-size: 21px;
  line-height: 26px;
}

.button:hover {
  background-color: var(--brown-style2);
}

 .button:active{
 background-color: var(--brown-style3);
 color: var(--text-white-clear);
}

.button-date,
.button-minus,
.button-plus {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background: var(--gray-fone);
  border: 2px solid var(--gray-fone);
}

.button-date:hover,
.button-minus:hover,
.button-plus:hover {
  background: var(--strong-gray-style);
  border: 2px solid var(--strong-gray-style);
}

.button-date:focus,
.button-minus:focus,
.button-plus:focus {
  background: var(--white-style);
  border: 2px solid var(--gray-borders);
  outline: none;
}

  .button-date{
  width: 38px;
  height: 38px;
  padding-top: 6px;
}

.adultse-children {
  margin-top: -40px;
}

.button-date:hover path {
  fill: var(--text-black);
}

.button-date:active path {
  fill: var(--blue-style);
}

.button-minus,
.button-plus {
width: 38px;
height: 38px;
}

.button-minus {
  padding-bottom: 4px;
}

.button-plus {
  padding-top: 5px;
}

.button-minus:hover rect {
  fill: var(--text-black);
}

.button-minus:active rect {
  fill: var(--blue-style);
}

.button-plus:hover path {
  fill: var(--text-black);
}

.button-plus:active path {
  fill: var(--blue-style);
}

.button-find {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue-style);
  border: none;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
}

.button-find:hover {
  background-color: var(--blue-style2);
}

 .button-find:active {
 background-color: var(--blue-style3);
 color: var(--text-black-clear);
}

/*Map*/

.main-map {
position: relative;
}

.map-img {
  width: 100%;
  height: 594px;
  background-image: url("../img/map.png");
  position: absolute;
  box-shadow: 0px 5px 15px var(--shadow-body);
}

.map {
  overflow:hidden;
  padding-bottom:56.25%;
  height:0;
}

.map iframe {
  left:0;
  top:100%;
  height:100%;
  width:100%;
}

/*Footer*/
.main-footer {
  position: relative;
  margin: 0;
  top: 473px;
  height: 120px;
}

.footer-catalog{
  margin: 0;
  height: 120px;
}

.social-button {
  width: 48px;
  height: 47px;
  background-color: var(--blue-style);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;

}

.footer-look{
  height: 120px;
  background-color: var(--white-footer);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts h2 {
  margin: 0;
  font-weight: bold;
  color: var(--text-black);
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  padding: 8px;
}

.footer-contacts p {
  margin: 0;
  font-weight: bold;
  color: var(--text-black);
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}

.footer-contacts {
  text-align: center;
  margin: auto;
  margin-left: 125px;
  margin-top: 16px;
}

.footer-contacts a {
  color: var(--basic-white);
  text-decoration: none;
}

  .footer-social ul {
  list-style: none;
  color: var(--text-black);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 156px;
  margin: 0 auto;
  padding: 0;
}

.footer-copyright {
  justify-self: center;
  display: flex;
}

.social-button:hover {
  background-color: var(--blue-style2);
}

.social-button:active {
  background-color: var(--blue-style3);
}

.social-button:focus path {
  fill: var(--white-01);
}

.by {
  line-height: 26px;
  margin: 0;
  width: 136px;
  height: 120px;
  padding-top: 48px;
  padding-right: 7px;
  text-align: right;
}

.web-by {
  width: 242px;
  padding-top: 39px;
}
.web-by:hover path {
  fill: var(--blue-style);
}

.web-by:active path {
  fill: var(--gray-web);
}


  /*navigation*/

.site-navigation-current a:not([href]) {
  color: var(--text-brown);
}

  /*Wrapper-catalog*/

 .filters {
  color: var(--text-white);
  background-image: url("../img/background2.png")
}

.filter-form fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
}

.filter-form{
  height: 217px;
  display: flex;
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 25px;
}

.infrastructure {
  width: 254px;
}

.housing {
  width: 485px;
}

.cost legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
position: relative;
}

.range-controls .toggle {
  position: absolute;
  left: 0;
  top: -8px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white-style);
  background-color: var(--gray-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  box-sizing: unset;
}

.range-controls .toggle:hover {
  position: absolute;
  left: 0;
  top: -8px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid var(--white-style);
  background-color: var(--gray-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  box-sizing: unset;
}

.range-controls .toggle-max {
  left: 205px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
}

.range-controls .scale {
  height: 2px;
  background: var(--text-white-clear);
  width: 316px;
  margin-bottom: 33px;
  margin-top: 20px;
}

.range-controls .bar {
 width: 70%;
 height: 2px;
 background: var(--white-style);
}

.range-filter {
  width: 316px;
  margin-top: 12px;
}

.filter {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter-items {
  list-style: none;
  margin: 0;
  margin-top: 26px;
  padding-left: 41px;
}

.filter-items li {
  padding-top: 1px;
}

.housing-items {
  padding-left: 43px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 23px;
}

.filter-input-checkbox + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
z-index: 1;
}

.filter-input-checkbox:checked + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  top: 0px;
  left: -40px;
  width: 26px;
  height: 23px;
  z-index: -1;
}


.filter-input-checkbox:hover + label {
color: var(--w);
}

.filter-input-checkbox:checked + label::after {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: 0px;
  left: -40px;
  width: 26px;
  height: 23px;
  z-index: 1;
}

.button-form {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--white-01);
  border: 2px solid var(--white-style);
  border-radius: 2px;
  margin-left: 86px;
  width: 137px;
  height: 36px;
}

.button-form:hover {
  color: var(--text-black);
  background-color: var(--white-style);
}

/*Sorting*/

.sorting {
  background-color: var(--white-style);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  padding: 29px 73px 31px 73px;
  display: flex;
  flex-wrap: wrap;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  margin: 0px;
  width: 115px;
  padding-top: 2px;
}

.sorting-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display:flex ;
  width: 740px;
}


.sorting-item {
  margin-right: 33px;
  padding-top: 3px;
}

.sorting-button {
  width: 24px;
}

.sorting-button-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 8px;
}


.sorting-button:hover path {
  fill: var(--text-black)
}

.sorting-button:active path {
  fill: var(--text-blue)
}

.sorting-button-down:hover path {
  fill: var(--text-black)
}

.sorting-button-down:active path {
  fill: var(--text-blue)
}


.sorting-item a {
  color: var(--text-black-clear);
border-bottom: 1px var(--blue-style) dashed;}

.current a {
  color: var(--blue-style);
  border-bottom: none;
}

.sorting-item a:hover {
  color: var(--blue-style);
}

.sorting-item a:focus {
  color: var(--blue-style);
}

.sorting-item a:active {
  color: var(--text-black);
  text-decoration:none;
}

.sorting-item-price a {
  color: var(--text-blue);
}

.price-controls {
  width: 317px;
  height: 36px;
  border: 2px  solid ;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
}

.price-controls label:nth-child(1) {
  width: 156px;
  text-align: center;
  padding-left: 33px;
}

.price-controls label:last-child {
  width: 155px;
text-align: center;
padding-left: 13px;
}

.price-controls label {
  margin-top: 5px;
}

.price-controls input {
  width: 40px;
  height: 14px;
  text-align: left;
  margin: 0;
  color: var(--white-style);
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--text-clear);
}

.vl {
  border-left: 2px solid var(--white-style);
  height: 22px;
  margin-top: 5px;
}

/*Catalog*/

.catalog-title {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--white-style);
  font-weight: bold;
  width: 164px;
}

.catalog-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.hotel1 {
  margin-top: 30px;
}

.hotel2 {
  display: flex;
  flex-wrap: wrap;
  width: 808px;
}

.catalog-name a{
  color: var(--text-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.catalog-name {
  width: 100%;
  margin: 0;
  padding-top: 24px;
  padding-left: 29px;
}

.catalog-price {
  margin: 0;
  padding-left: 30px;
  width: 115px;
}

.catalog-search {
  width: 100%;
  padding-left: 29px;
  margin-top: auto;
}

.catalog-name a:hover {
  color: var(--blue-style);
}

.catalog-name a:active {
  color: var(--text-black-clear);
}

.catalog-item {
  background-color: var(--white-style);
}

.catalog-list li {
  display: flex;
  width: 1200px;
  margin-top: 1px;
  padding: 0 73px 30px 73px;
  height: 150px;
}

.catalog-list li:nth-last-child(1) {
  margin-bottom: 1px;
}

.star1 {
  content: "";
  background-image: url(../img/star.svg);
  width: 88px;
  height: 23px;
  background-repeat: space;
  margin: 0;
  display: inline-block;
  margin-left: 23px;
  margin-top: 29px;
}

.star2 {
  content: "";
  background-image: url(../img/star.svg);
  width: 65px;
  height: 23px;
  background-repeat: space;
  margin: 0;
  display: inline-block;
  margin-left: 46px;
  margin-top: 29px;
}

.star3 {
  content: "";
  background-image: url(../img/star.svg);
  width: 41px;
  height: 23px;
  background-repeat: space;
  margin: 0;
  display: inline-block;
  margin-left: 70px;
  margin-top: 29px;
}

.reyting {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  color: var(--gray-text);
  vertical-align: inherit;
  background-color: var(--gray-fone);
  border: none;
  width: 110px;
  height: 27px;
  margin: 0;
  margin-top: 36px;
  padding-top: 2px;
  padding-left: 4px;
}

.catalog-price {
  color: var(--text-gray);
}

.button-catalog {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue-style);
  border: none;
  width: 110px;
  height: 27px;
  display:inline-block;
  padding-top: 2px;
  margin-right: 3px;
}

.button-catalog:hover {
  background-color: var(--blue-style2);
}

.button-catalog:active {
  background-color: var(--blue-style3);
  color: var(--text-white-clear);
}

.button-reserv {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown-style);
  border: none;
  width: 142px;
  height: 27px;
  display:inline-block;
  padding-top: 3px;
}

.button-reserv:hover {
  background-color: var(--brown-style2);
}

.button-reserv:active {
  background-color: var(--brown-style3);
  color: var(--text-white-clear);
}




