/* Variables */

:root {
  /*text index*/
  --text-black : #000000;
  --text-gray: #333333;
  --text-white: #FFFFFF;
  --text-brown: #766357;
  --text-white-clear:rgba(255, 255, 255, 0.3);
  --text-black-clear:rgba(0, 0, 0, 0.3);
  --white-01: rgba(225, 225, 225, 0.1);


/*text catalog */
  --text-blue: #81B3D2;

/*styling colors*/
--gray-fone:#F2F2F2;
--gray-style: #888888;
--gray-style2: #EEEEEE;
--strong-gray-style: #EBEBEB;
--white-style: #FFFFFF;
--blue-style: #81B3D2;
--blue-style2: #669EC0;
--blue-style3: #5496BD;
--brown-style: #766357;
--brown-style2: #604E43;
--brown-style3: #503E33;
--copywriter-text: #231F20;
--gray-sorting: #CACACA;
--gray-style3: #A9A9A9;
--checkbox-style: #6A6A6A;
--gray-text: #666666;
--gray-borders: #E5E5E5;
}

/*Body*/

.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--text-black);
  text-transform: uppercase;
  background-color: var(--gray-fone);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/
/*Navigation*/

.main-header {
  background-color: var(--white-style);
}
.main-navigation {
  line-height: 26px;
  font-weight: bold;
 }

.main-site-navigation {
  list-style: none;
}

.main-site-navigation a {
  color: var(--text-black) ;
}

.main-site-navigation a:hover {
  color: var(--blue-style);
}

.main-site-navigation a:active {
  color: var(--text-black-clear);
}

 /*Main-Container*/
.reasons-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-gray);
}

.reasons-list {
  list-style: none;
}

.reasons-title-desc {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.reasons-title,
.reasons-title-desc {
  background-color: var(--white-style) ;
}

.reasons-item-preview {
  color: var(--text-white);
  background-color: var(--blue-style);
  }

.service-list {
  list-style: none;
  background-color: var(--white-style);
  color: var(--text-black);
}

.service-lead {
  color: var(--text-gray);
}

.service-title {
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-lead-gray {
  color: var(--text-gray);
}

.box-reasons {
  background-color: var(--gray-style2);
}

/*Appointment*/

.appointment {
  background-color: var(--white-style);
  }

.appointment-form {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.appointment-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.apointment-info {
  line-height: 24px;
  color:  var(--text-gray);
}

/*Button*/

.button {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown-style);
  border: none;
}

.button-search {
  font-size: 21px;
  line-height: 26px;
}

.button:hover {
  background-color: var(--brown-style2);
}

 .button:active{
 background-color: var(--brown-style3);
 color: var(--text-white-clear);
}

.button-date,
.button-minus,
.button-plus {
  font: inherit;
  text-align: center;
  color: var(--gray-style3);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  }

.button-date:hover,
.button-minus:hover,
.button-plus:hover {
  color: var(--text-black);
}

.button-date:active,
.button-minus:active,
.button-plus:active {
  color: var(--blue-style);
}

.button-find {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue-style);
  border: none;
}

.button-search {
  font-size: 21px;
  line-height: 26px;
}

.button-find:hover {
  background-color: var(--blue-style2);
}

 .button-find:active {
 background-color: var(--blue-style3);
 color: var(--text-black-clear);
}


/* Appoinment*/
.appointment-item-form input {
  background: var(--gray-fone);
  border: 2px solid var(--gray-fone);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.appointment-item-form input:hover {
  background: var(--strong-gray-style);
  border: 2px solid var(--strong-gray-style);
  }

.appointment-item-form input:focus{
  background: var(--white-style);
  border: 2px solid var(--gray-borders);
  outline: none;
}

.appointment-item-figure input {
  background: var(--gray-fone);
  border: 2px solid var(--gray-fone);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.appointment-item-figure input:hover {
  background: var(--strong-gray-style);
  border: 2px solid var(--strong-gray-style);
}

.appointment-item-figure input:focus{
  background: var(--white-style);
  border: 2px solid var(--gray-borders);
  outline: none;
}

.appointment-item-form input::placeholder {
  color: var(--text-black);
  opacity: 1;
}

.appointment-item-figure input::placeholder {
  color: var(--text-black);
  opacity: 1;
}

/*Map*/
/*------*/

/*Footer*/

.main-footer {
  background-color: var(--white-style);
}

.footer-contacts {
  font-weight: bold;
  color: var(--text-black);
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}

.footer-contacts a {
  color: var(--basic-white);
  text-decoration: none;
  }

  .footer-social ul {
  list-style: none;
  color: var(--text-black);
  }

  /*----Catalog-----*/

  /*navigation*/

.site-navigation-current a:not([href]) {
  color: var(--text-brown);
}

  /*Wrapper-catalog*/

 .box {
  color: var(--text-white);
  background-image: url("../img/background2.png")
}

.filter {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter-items {
  list-style: none;
}

.button-form {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--white-01);
  border: 2px solid var(--white-style);
  border-radius: 2px;
}

.button-form:hover {
  color: var(--text-black);
  background-color: var(--white-style);
}

/*Sorting*/

.sorting {
  background-color: var(--white-style);
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
}
.sorting-item a {
  color: var(--text-black-clear);
  text-decoration: dotted underline var(--blue-style)
}

.sorting-item a:hover {
  color: var(--blue-style);
}

.sorting-item a:focus {
  color: var(--blue-style);
}

.sorting-item a:active {
  color: var(--text-black);
}

.sorting-item-price a {
  color: var(--text-blue);
}

.sorting-button a {
  font: inherit;
  text-align: center;
  color: var(--text-black);
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--gray-sorting);
  border: none;
}
.sorting-button a:hover {
  color: var(--text-black);
}

.sorting-button a:active {
  color: var(--blue-style);
}

.sorting-button-down a {
 color: var(--text-blue);
}

/*Catalog*/

.catalog-title {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--white-style);
}

.catalog-list {
  list-style: none;
}

.catalog-name a{
  color: var(--text-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.catalog-name a:hover {
  color: var(--blue-style);
}

.catalog-name a:active {
  color: var(--text-black-clear);
}

.catalog-item,
.catalog-item-motel,
.catalog-item-rectangle {
  background-color: var(--white-style);
}

.reyting {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  color: var(--gray-text);
  vertical-align: inherit;
  background-color: var(--gray-fone);
  border: none;
  width: 110px;
  height: 27px;
}

.catalog-price {
  color: var(--text-gray);
}

.button-catalog {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue-style);
  border: none;
}

.button-catalog:hover {
  background-color: var(--blue-style2);
}

.button-catalog:active {
  background-color: var(--blue-style3);
  color: var(--text-white-clear);
}

.button-reserv {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown-style);
  border: none;
}

.button-reserv:hover {
  background-color: var(--brown-style2);
}

.button-reserv:active {
  background-color: var(--brown-style3);
  color: var(--text-white-clear);
}




