/* Variables */

:root {
  /*text index*/
  --text-black : #000000;
  --text-gray: #333333;
  --text-white: #FFFFFF;
  --text-broun: #766357;

/*text catalog */
  --text-blue: #81B3D2;

/*styling colors*/
--gray-stl: #888888;
--white-stl: #FFFFFF;
--blue-stl: #81B3D2;
--aim-button-blue-stl: #669EC0;
--push-button-blue-stl: #5496BD;
--extra-blue-stl: #EEEEEE;
--buttom-broun-stl: #766357;
--aim-button-broun-stl: #604E43;
--push-button-broun-stl: #503E33;
--extra-gray-stl: #F2F2F2;
--strong-gray-stl: #EBEBEB;
--copywriter-text: #231F20;
--up-dir: #CACACA;
--date-stl: #A9A9A9;
--checkbox-stl: #6A6A6A;
--gray-text: #666666;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans  Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--text-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
 /*Navigation*/
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--text-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--white-stl);
}

.main-site-navigation {
  list-style: none;
  color: var(--text-black) ;
}

.main-site-navigation a {
  color: var(--text-black);
}

.main-site-navigation a:hover,
.main-site-navigation a:focus {
  color: var(--text-broun);
}

/*Nav-catalog*/

.main-site-navigation a:hover
.main-site-navigation a:hover
.main-site-navigation a:hover
.main-site-navigation a:focus {
  background-color: var(--buttom-broun-stl);
}

.site-navigation-current a:not([href]) {
  background-color: var(--buttom-broun-stl);
}

/* Breadcrumbs */

.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
}

.breadcrumbs-list {
  list-style: none;
  text-decoration: underline;
  background-color: var(--white-stl);
}

.breadcrumbs-list a{
  color: var(--text-black);
}

.breadcrumbs-list a:hover {
  color: var(--text-blue);
}

.breadcrumbs-list a:focus {
  color: var(--text-black);
}
/*с этим не могу понять, что не так? хелп*/
.breadcrumbs-list-current a:not([href]) {
  color: var(--text-blue);
}

.breadcrumbs-button a {
  background-color: var(--up-dir);
}

.breadcrumbs-button a:hover {
  background-color: var(--blue-stl);
}

.breadcrumbs-button a:focus {
  background-color: var(--text-black);
}

/*Reasons*/

.reasons {
  list-style: none;
}

.reasons-title {
  font-size: 14px;
  line-height: 26px;
}
.reasons-title-desc {
  font-size: 21px;
  line-height: 26px;
}

.reasons-list {
text-align: center;
}

.reasons-item h3,
.service-item {
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-lead,
.service-lead {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
 }

 /*Appointment*/

 .appointment,
 .appointment-title {
  text-align: center;
 }

 .appointment-title {
  font-size: 30px;
  line-height: 24px;
 }

 .apointment-info {
   color: var(--text-gray);
 }

.appointment-date-in,
.appointment-date-of,
.appointment-adultse,
.appointment-children {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
 }

.appointment-date-in input[type="text"],
.appointment-date-of input[type="text"]:hover {
  border-color: var(--extra-gray-stl);
 }

.appointment-date-in input[type="text"],
.appointment-date-of input[type="text"]:focus {
  border-color: var(--strong-gray-stl);
 }

.appointment-date-in input[type="text"],
.appointment-date-of input[type="text"]:active {
  border-color: var(--white-stl);
 }

/*Button*/

.button {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--buttom-broun-stl);
  border: none;
}

.button:hover {
  background-color: var(--buttom-broun-stl);
}

.button:focus {
  background-color: var(--aim-button-broun-stl);
}

.button:active {
  background-color: var(--push-button-broun-stl);
}

.button-date,
.button-minus,
.button-plus:hover {
  background-color: var(--date-stl);
}

.button-date,
.button-minus,
.button-plus:focus {
  background-color: var(--text-black);
}

.button-date,
.button-minus,
.button-plus:active {
  background-color: var(--blue-stl);
}

.button-find {
  font: inherit;
  text-align: center;
  color: var(--text-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue-stl);
  border: none;
 }

.button-find:hover{
  background-color: var(--blue-stl);
}

.button-find:focus  {
  background-color: var(--aim-button-blue-stl);
}

.button-find:active {
  background-color: var(--push-button-blue-stl);
}

.button-form {
 display: inline-block;
 color: var(--white-stl);
 border: 2px solid var(--white-stl);
 border-radius: 2px;
 text-align: center;
 outline: none;
 text-decoration: none;
}

.button-form:hover,
.button-form:active {
 background-color: var(--white-stl);
 color: var(--text-black);
}

/*Map*/
/*------*/

/*Footer*/

.main-footer {
  color: var(--text-black);
  background-color: var(--white-stl);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-contacts {
  color: var(--text-black);
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  }

.footer-contacts a {
  color: var(--basic-white);
  text-decoration: none;
  }

.footer-phone:hover,
.footer-phone:focus
.footer-phone:active {
  text-decoration: none;
  color: var(--text-black);
  }

.footer-social {
  text-align: center;
  }

.footer-social ul {
  list-style: none;
  }

.footer-social h2 {
  font-size: 14px;
  }

.footer-copyright {
  text-align: right;
}

/*footer-social*/

.social-button {
  display:  inline-block;
  background-color: var(--blue-stl);
  width: 46px;
  height: 48px;
  border: 1px solid var(--white-stl);
 border-radius: 1px;
 }

 .social-button :hover {
   background-color: var(--aim-button-blue-stl);
 }

 .social-button :active {
   background-color: var(--push-button-blue-stl);
 }

 .button-copyrigh :hover {
   background-color: var(--blue-stl);
 }
.button-copyrigh :active {
  background-color: var(--gray-stl);
}
 /*box-catalog*/

 .box {
  background-image: url("../img/background2.png")
}
.catalog-item{
  list-style: none;
}
.catalog-category,
.catalog-price,
.catalog-category {
  font-style: normal;
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 color: var(--text-black);
}

.star-rating {
  color: var(--gray-text);
  font-weight: 400;
}

